div(id='#{product._id}', class='product')
  form(id='remove-product-form-#{product._id}', action='/list/remove', method='post')
    input(class='clickPost', type='button', value='X', data-form='remove-product-form-#{product._id}', data-results-tag='products', data-url='/list/remove')
    #{product.name}
    input(type='hidden', name='product[id]', value='#{product._id}')
    input(type='hidden', name='product[name]', value='#{product.name}')
